<!DOCTYPE html>
<html lang="en">
{% include 'OivBundle:blocks:head.html.twig' %}

<body class="body-front  card card-inverse card-danger text-xs-center ">

{{ popupCookies|raw }}

{% include 'OivBundle:blocks:nav_mobile.html.twig'%}

<div id="page">

    {% include 'OivBundle:blocks:header.html.twig' %}
    <div class="full-search ">
        {% include 'OivBundle:blocks:filter_search.html.twig' %}
        {#{% include 'OivBundle:blocks:result_search.html.twig' %}#}
        {% include 'OivBundle:blocks:fiche_country.html.twig' %}
        {% include 'OivBundle:blocks:result_stats_country.html.twig' %}
    </div>
    <div class="bandeau-bottom Bg-noise">
        <div class="Content_center">
            <a href="/fr/" class="bandeau-bottom-lnk Content_center">Retour à la page d'accueil</a>
        </div>
    </div>
    {% include 'OivBundle:blocks:footer.html.twig' %}
</div>
{% include 'OivBundle:blocks:popup-info.html.twig' %}
<script type="text/javascript">
    var rootUrl  = '/';
    var userLang = 'fr';
    var isMobile = '';
    var isTablet = '';
    var isIos    = '';
    var host     = 'oiv-prod.abidi';
</script>
<script src="/js/lib/pdfjs/build/pdf.js"></script>
<script src="/js/lib/jQuery/jquery-2.1.4.min.js"></script>
<script src="/js/frontend/lib/jquery.colorbox.min.js"></script>
<script src="/js/lib/jQuery/chosen.jquery.min.js"></script>
{#<script src="/frontend/lib/Chart.min.js"></script>#}
<script src="/js/frontend/main.min.js"></script>
<script src="/citrus-debug/js/debug.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script src="{{ asset('/bundles/oiv/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('/bundles/oiv/js/jquery.modal.min.js') }}"></script>
<script src="{{ asset('/bundles/oiv/js/oiv-handler-search.js') }}"></script>
<script src="{{ asset('/bundles/oiv/js/oiv-stats-charts.js') }}"></script>
<script src="{{ asset('/bundles/oiv/js/jquery-loading.js') }}"></script>
</body>
</html>