<div class="filter-search container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 form-group" id="adv-search">
                <!-- input type="text" class="form-control" placeholder="Search for snippets" / -->
                <label class="control-label">Type de recherche</label>
                <select id="typeSearch" class="form-control" name="search" >
                    <option value="naming">Appéllations</option>
                    <option value="variety">Cépages</option>
                    <option value="education">Formations</option>
                    <option value="stat">Statisqtiques</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">Lieu</label>
                <select class="form-control" name="country">
                    <option value="all">Choisir un continent ou un pay</option>
                    <optgroup label="Sélectionner Tout le monde">
                        <option value="all">Tout le monde</option>
                    </optgroup>
                    <optgroup label="Sélectionner un continent">
                        {% for item in tradeBlocs %}
                        <option value="{{ item.tradeBloc }}">{{ item.tradeBloc }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Sélectionner un pay">
                    {% for country in countries %}
                    <option value="{{ country.getIso3 }}" data-flag="{{ country.getIso2()|lower }}">{{ country.getCountryNameFr() }}</option>
                    {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">Année</label>
                <select id="year" class="form-control" name="year">
                    {% for year in "now"|date('Y')..1900 %}
                    <option value="year" name="year">{{ year }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="col-md-2 form-group hide">
                <label class="control-label">Année min</label>
                <select id="yearMin" class="form-control" name="yearMin">
                    {% for year in "now"|date('Y')..1900 %}
                    <option value="year" name="yearMin">{{ year }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="col-md-2 form-group hide">
                <label class="control-label">Année max</label>
                <select id="yearMax" class="form-control" name="yearMax">
                    {% for year in "now"|date('Y')..1900 %}
                    <option value="year" name="yearMax">{{ year }}</option>
                    {% endfor %}

                </select>
            </div>
        </div>
    </div>
    {% include 'OivBundle:filters:appellations.html.twig' %}
    {% include 'OivBundle:filters:cepage.html.twig' %}
    {% include 'OivBundle:filters:formation.html.twig' %}
    {% include 'OivBundle:filters:protections.html.twig' %}
    {% include 'OivBundle:filters:statistique.html.twig' %}
</div>