
<div class="col-md-12 text-center">
    <ul class="pagination {{ show|default(false) ? '':'hide' }}">
        <li><a id="first-pg-{{ numTab|default('resultSearch') }}" data-offset="0" href="javascript:;">{{ 'first'|trans }}</a></li>
        <li><a id="prev-pg-{{ numTab|default('resultSearch') }}" data-offset="0" href="javascript:;">{{ 'prev'|trans }}</a></li>
        <li class="active"><a id="current-pg-{{ numTab|default('resultSearch') }}" href="javascript:;">3</a></li>
        <li><a id="next-pg-{{ numTab|default('resultSearch') }}" data-offset="100" href="javascript:;">{{ 'next'|trans }}</a></li>
        <li><a id="last-pg-{{ numTab|default('resultSearch') }}" data-offset="100" href="javascript:;">{{ 'last'|trans }}</a></li>
    </ul>
</div>