<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Metronic | Extra - 500 Page Option 2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/bundles/oiv/css/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/bundles/oiv/css/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/bundles/oiv/css/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/bundles/oiv/css/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/bundles/oiv/css/layout/error.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/bundles/oiv/css/layout/components.css') }}" rel="stylesheet" type="text/css"/>

</head>
<body class="page-500-full-page">
<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number">
            500
        </div>
        <div class=" details">
            <h3>You should login to access </h3>
            <p><a href="{{ path('oiv_login') }}"> Cliquer ici pour logger</a>
            </p>
        </div>
    </div>
</div>
</body>
<!-- END BODY -->
</html>