{% extends 'OivBundle:advancedSearch:layout.html.twig' %}
{% block menu_user %}
    <li class="dropdown dropdown-user">
        <a href="/fr/statistiques">{{ 'Country Plug'|trans }}</a>
    </li>
    <li class="dropdown dropdown-user">
    <a href="{{ path('oiv_login') }}">
        Connexion
    </a>
{% endblock %}

{% block selectedFilter %}
    {% include 'OivBundle:advancedSearch/blocks:selected-filters.html.twig' %}
{% endblock %}

{% block actions %}
    <div class="actions">
        <div class="btn-group">
            <a  class="btn default yellow-stripe dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i>
                <span class="hidden-480"> Export </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a class="export-btn" data-export="csv" href="javascript:;"> {{ 'Export to'|trans }} CSV</a>
                </li>
                <li>
                    <a class="export-btn" data-export="pdf" href="javascript:;"> {{ 'Export to'|trans }} PDF</a>
                </li>
                {#<li>#}
                    {#<a id="export-point" href="javascript:;"> {{ 'Export to power point'|trans }} </a>#}
                {#</li>#}
            </ul>
        </div>
    </div>
{% endblock %}

{% block dataTable %}
<div class="tabbable">
    <ul class="nav nav-tabs nav-tabs-lg">
        <li class="active">
            <a href="#tab_table" data-toggle="tab" aria-expanded="true">
                {{ 'Details'|trans }}
            </a>
        </li>
        <li>
            <a href="#tab_graph" data-toggle="tab" aria-expanded="true">
                {{ 'Graphic'|trans }}
            </a>
        </li>
    </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_table">
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        {#{% include 'OivBundle:advancedSearch/blocks:pagination.html.twig' %}#}
                        {% include 'OivBundle:advancedSearch/blocks:table-adv-search.html.twig' %}
                        {% include 'OivBundle:advancedSearch/blocks:pagination.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_graph">
                {% include 'OivBundle:advancedSearch/blocks:graphic.html.twig' %}
            </div>
        </div>
</div>
{% endblock %}
{% block load_js %}
        {% include 'OivBundle:advancedSearch/blocks:load_js.html.twig' %}
        <script src=" {{ asset('/bundles/oiv/js/oiv-handle-adv-search.js') }}"></script>
{% endblock load_js %}