
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Export PDF OIV</title>
    <style type="text/css">
        body {
            font-size: 10px;
        }
        body div {
            position: relative;
        }
        table {
            border-spacing: 0;
            border-collapse: separate !important;
        }
        th {
            white-space: nowrap;
            background-color: #eee !important;
            border-bottom: 0;
        }
        tr.odd {
            background-color: #f9f9f9;
        }
        td{
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div style="display: block; top:0px;">
    <div style="float: left">
        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/bundles/oiv/img/frontend/logo-small.png')}}">
    </div>
    <div style="float: left; padding-left: 20px;">
        <h1>Organisation internationale de la vigne et du vin</h1>
    </div>
</div>
<div style="top: 70px;">
<h2 style="display: block; position: relative">{{ 'Export Data Base'|trans ~ ' ' ~ 'Statistic'|trans }}</h2>
{% if globalResult|length %}
<table role="grid">
    {% if globalResult|length %}
        <thead style="top: 0;position: sticky;">
        <tr role="row" class="heading">
            {% for fieldName, value in globalResult.0 %}
                <th class="{% if fieldName == 'countryCode' %}sorting_asc{% else %}sorting{% endif %}" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1">
                    {{ fieldName|trans }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in globalResult %}
            <tr role="row" class="{{ loop.index0 % 2 ? 'odd':'even'}}">
                {% for fieldName, value in row %}
                    <td>{{ value|raw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
    </table>
{% else %}
    <h1>{{ 'No data found to be exported'|trans }}</h1>
{% endif %}
</div>
</body>
</html>