<div id="container-graphic">

</div>
<script type="text/javascript">
    $(document).ready(function () {


        setTimeout(function() {
            var lang = {
                downloadCSV: "{{ ('Download CSV'|trans)|raw }}",
                downloadJPEG: "{{ ('Download JPEG image'|trans)|raw }}",
                downloadPDF: "{{ ('Download PDF document'|trans)|raw }}",
                downloadPNG: "{{ ('Download PNG image'|trans)|raw }}",
                downloadSVG: "{{ ('Download SVG vector image'|trans)|raw }}",
                downloadXLS: "{{ ('Download XLS'|trans)|raw }}"
            };
            $.handleSearch._g1 = jQuery.extend(true, {}, $.statCharts);
//            $.handleSearch._g2 = jQuery.extend(true, {}, $.statCharts);
//            $.handleSearch._g3 = jQuery.extend(true, {}, $.statCharts);
//            $.handleSearch._g4 = jQuery.extend(true, {}, $.statCharts);

            $.handleSearch._g1._container = 'container-graphic';
            $.handleSearch._g1._xAxis = {{ stats.graphProducts.xAxis.rfresh|json_encode|raw }};
            $.handleSearch._g1._data = {{ stats.graphProducts.rfresh|json_encode|raw }};
            $.handleSearch._g1._title = {{ (stats.products.0.label|trans)|json_encode|raw  }};
            {#$.handleSearch._g1._mesure = '{{ stats.products.0.measure |raw }}';#}
            $.handleSearch._g1._mesure = '1000 QX';
            $.handleSearch._g1._lang =  lang;
            $.handleSearch._g1._init();

            {#$.handleSearch._g2._container = 'container-g2';#}
            {#$.handleSearch._g2._xAxis = {{ stats.graphProducts.xAxis.rin|json_encode|raw }};#}
            {#$.handleSearch._g2._data = {{ stats.graphProducts.rin|json_encode|raw }};#}
            {#$.handleSearch._g2._title = {{ (stats.products.1.label|trans)|json_encode|raw  }};#}
            {#$.handleSearch._g2._mesure = '{{ stats.products.1.measure |raw }}';#}
            {#$.handleSearch._g2._mesure = '1000 HL';#}
            {#$.handleSearch._g2._lang =  lang;#}
            {#$.handleSearch._g2._init();#}

            {#$.handleSearch._g3._container = 'container-g3';#}
            {#$.handleSearch._g3._xAxis = {{ stats.graphProducts.xAxis.rtable|json_encode|raw }};#}
            {#$.handleSearch._g3._data = {{ stats.graphProducts.rtable|json_encode|raw }};#}
            {#$.handleSearch._g3._title = {{ (stats.products.2.label|trans)|json_encode|raw  }};#}
            {#$.handleSearch._g3._mesure = '{{ stats.products.2.measure |raw }}';#}
            {#$.handleSearch._g3._mesure = '1000 QX';#}
            {#$.handleSearch._g3._lang =  lang;#}
            {#$.handleSearch._g3._init();#}

            {#$.handleSearch._g4._container = 'container-g4';#}
            {#$.handleSearch._g4._xAxis = {{ stats.graphProducts.xAxis.rsec|json_encode|raw }};#}
            {#$.handleSearch._g4._data = {{ stats.graphProducts.rsec|json_encode|raw }};#}
            {#$.handleSearch._g4._title = {{ (stats.products.3.label|trans)|json_encode|raw  }};#}
            {#$.handleSearch._g4._mesure = '{{ stats.products.3.measure |raw }}';#}
            {#$.handleSearch._g4._mesure = '1000 QX';#}
            {#$.handleSearch._g4._lang =  lang;#}
            {#$.handleSearch._g4._init();#}
            $('.highcharts-credits').remove();
        });
    });
</script>