<meta charset="utf-8"/>
<title>{{ 'OIV ' ~ 'Advanced Search on DataBase'|trans() }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
      type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
      type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet"
      type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
      type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet"
      type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet"
      type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href=" {{ asset('/bundles/oiv/css/plugins/select2/select2.css') }}"/>
<link rel="stylesheet" type="text/css"
      href=" {{ asset('/bundles/oiv/css/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css"
      href=" {{ asset('/bundles/oiv/css/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href=" {{ asset('/bundles/oiv/css/layout/components.css') }}" id="style_components" rel="stylesheet"
      type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/layout/plugins.css') }}" rel="stylesheet" type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/layout/layout.css') }}" rel="stylesheet" type="text/css"/>
<link id="style_color" href=" {{ asset('/bundles/oiv/css/layout/darkblue.css') }}" rel="stylesheet" type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/jquery-multi-select/css/multi-select.css') }}" rel="stylesheet" type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/plugins/bootstrap-select/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/>
<link href=" {{ asset('/bundles/oiv/css/layout/custom.css') }}" rel="stylesheet" type="text/css"/>
<!-- jQuery Modal -->
<link rel="stylesheet" href="{{ asset('/bundles/oiv/css/jquery.modal.min.css') }}">
<link href=" {{ asset('/bundles/oiv/css/advanced-search.css') }}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<script src=" {{ asset('/bundles/oiv/js/login/jquery.min.js') }}" type="text/javascript"></script>