{% if isAdvSearch|default(false) %}
    {% for fieldName, filter in filters.NamingData %}
            {% if filter.values|length %}
                {% if fieldName == 'value' %}
                    <li class="filter">
                        <a class="text-center filter-name">{{ 'Value Min'|trans }}</a>
                        <input type="text" name="valueMin" id="value-min-naming" class="value-min"/>
                    </li>
                    <li class="filter">
                        <a class="text-center filter-name">{{ 'Value Max'|trans }}</a>
                        <input type="text" name="valueMax" id="value-max-naming" class="value-max"/>
                    </li>

                {% else %}
                <li class="filter">
                    <a class="text-center filter-name">{{ fieldName|trans }}</a>

                    <select data-view="naming" id="{{ 'NamingData-' ~ fieldName }}" class="form-control select2me" data-live-search="true" name="{{ fieldName }}">
                        <option value="">{{ 'Choose'|trans }}</option>
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName]|trans|replace({'<br/>':' - '})|replace({'<br>':' - '})|striptags }}</option>
                        {% endfor %}
                    </select>
                </li>
                {% endif %}
            {% endif %}
    {% endfor %}
{% endif %}
