{% if isAdvSearch|default(false) %}
    {% for fieldName, filter in filters.VarietyData %}
        {% if filter.values|length %}
            <li class="filter">
                <a class="text-center filter-name">{{ fieldName|trans }}</a>
                <select data-view="variety" id="{{ 'NamingData-' ~ fieldName }}" class="form-control select2me" data-live-search="true" name="{{ fieldName }}">
                    <option value="">{{ 'Choose'|trans }}</option>
                    {% if filter.values|length < 20 %}
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName]|trans|replace({'<br/>':' - '})|replace({'<br>':' - '})|striptags }}</option>
                        {% endfor %}
                    {% else %}
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName]|replace({'<br/>':' - '})|replace({'<br>':' - '})|striptags }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
