<div id="variety" class="row hide">
    <div class="col-md-12">
        {% for fieldName, filter in filters.VarietyData %}
            {% if filter.values|length %}
                <div class="col-md-4 form-group">
                    <label class="control-label">{{ filter.label }}</label>
                    <select id="{{ 'VarietyData-' ~ fieldName }}" name="{{ fieldName }}" class="form-control">
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
