{% if isAdvSearch|default(false) %}
    {% for fieldName, filter in filters.VarietyData %}
        {% if filter.values|length %}
            <li>
                <a class="text-center">{{ fieldName|trans }}</a>
                <select data-view="variety" id="{{ 'NamingData-' ~ fieldName }}" class="form-control select2me" data-live-search="true" name="{{ fieldName }}">
                    <option value="">{{ 'Choose'|trans }}</option>
                    {% for value in filter.values %}
                        <option value="{{ value[fieldName] }}">{{ value[fieldName] }}</option>
                    {% endfor %}
                </select>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
<div id="variety" class="row hide">
    <div class="col-md-12">
        {% for fieldName, filter in filters.VarietyData %}
            {% if filter.values|length %}
                <div class="col-md-4 form-group">
                    <label class="control-label">{{ fieldName|trans }}</label>
                    <select data-view="variety" id="{{ 'VarietyData-' ~ fieldName }}" class="form-control selectpicker" data-live-search="true" name="{{ fieldName }}">
                        <option value="">{{ 'Choose'|trans }}</option>
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
