{% set langs = {'de':'countryNameDe','en':'countryNameEn', 'es':'countryNameEs', 'fr':'countryNameFr', 'it':'countryNameIt'} %}
{% if isAdvSearch|default(false) %}
    <li class="sidebar-search-wrapper filter-country">
        <a style="cursor: default;">
            <i class="icon-flag"></i>
            <span class="title"><strong>{{ 'Country'|trans }}</strong></span>
        </a>
        <select multiple id="country" class="multi-select hide" data-live-search="true" name="country">
            <optgroup id="world" label="{{ 'Choose'|trans }} {{ 'World'|trans }}">
                <option value="oiv" {% if countryCode == 'oiv' %}selected=""{% endif %}>{{ 'World'|trans }}</option>
            </optgroup>
            <optgroup id="zone" label="{{ 'Choose all continents'|trans }}">
                {% for item in tradeBlocs %}
                    <option value="{{ item.tradeBloc }}" {% if countryCode == item.tradeBloc %}selected=""{% endif %}>{{ item.tradeBloc|capitalize|trans }}</option>
                {% endfor %}
            </optgroup>
            {% if isBo|default(false) == true %}
            <optgroup id="countries-members" label="{{ 'Choose all member countries'|trans }}">
                <option></option>
            </optgroup>
            {% endif %}
            <optgroup id="countries" label="{{ 'Choose all countries'|trans }}">
                {% for country in countries %}
                    <option data-member="{{ country.oivMembership }}" value="{{ country.iso3 }}" data-flag="{{ country.iso2|lower }}" {% if countryCode == country.iso3 %}selected=""{% endif %}>{{ country[langs[app.request.locale]] }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </li>
{% else %}
    <div class="col-md-4 col-sm-4 form-group">
        <label class="control-label">{{ 'Country'|trans }}</label>
        <select id="country" class="form-control selectpicker" data-live-search="true" name="country">
            <optgroup id="world" label="{{ 'Choose'|trans }} {{ 'World'|trans }}">
                <option value="oiv" {% if countryCode == 'oiv' %}selected=""{% endif %}>{{ 'World'|trans }}</option>
            </optgroup>
            <optgroup id="zone" label="{{ 'Choose'|trans }} {{ 'a continent'|trans }}">
                {% for item in tradeBlocs %}
                    <option value="{{ item.tradeBloc }}" {% if countryCode == item.tradeBloc %}selected=""{% endif %}>{{ item.tradeBloc|capitalize|trans }}</option>
                {% endfor %}
            </optgroup>
            <optgroup id="countries" label="{{ 'Choose'|trans }} {{ 'a country'|trans }}">
                {% for country in countries %}
                    <option value="{{ country.iso3  }}" data-flag="{{ country.iso2|lower }}" {% if countryCode == country.iso3 %}selected=""{% endif %}>{{ country[langs[app.request.locale]] }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </div>
{% endif %}