{% if isAdvSearch|default(false) %}
    <li class="sidebar-search-wrapper">
        <a class="text-center">{{ 'Country'|trans }}</a>
{% else %}
    <div class="col-md-4 col-sm-4 form-group">
        <label class="control-label">{{ 'Country'|trans }}</label>
{% endif %}
    <select {% if isAdvSearch|default(false) %}multiple{% endif %} id="country" class="{% if isAdvSearch|default(false) %}multi-select{% else %}form-control selectpicker{% endif %}" data-live-search="true" name="country">
        <optgroup label="{{ 'Choose'|trans }} {{ 'World'|trans }}">
            <option value="oiv" {% if countryCode == 'oiv' %}selected=""{% endif %}>{{ 'World'|trans }}</option>
        </optgroup>
        <optgroup label="{{ 'Choose'|trans }} {{ 'a continent'|trans }}">
            {% for item in tradeBlocs %}
                <option value="{{ item.tradeBloc }}" {% if countryCode == item.tradeBloc %}selected=""{% endif %}">{{ item.tradeBloc|capitalize }}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="{{ 'Choose'|trans }} {{ 'a country'|trans }}">
            {% for country in countries %}
                <option value="{{ country.getIso3 }}" data-flag="{{ country.getIso2()|lower }}" {% if countryCode == country.getIso3 %}selected=""{% endif %}>{{ country.getCountryNameFr() }}</option>
            {% endfor %}
        </optgroup>
    </select>
{% if isAdvSearch|default(false) %}
    </li>
{% else %}
    </div>
{% endif %}