{% if isAdvSearch|default(false) %}
    {% for fieldName, filter in filters.EducationData %}
        {% if filter.values|length %}
            <li class="filter">
                <a class="text-center filter-name">{{ fieldName|trans }}</a>
                <select data-view="education" id="{{ 'EducationData-' ~ fieldName }}" class="form-control select2me" data-live-search="true" name="{{ fieldName }}">
                    <option value="">{{ 'Choose'|trans }}</option>
                    {% for value in filter.values %}
                        <option value="{{ value[fieldName] }}">{{ value[fieldName]|replace({'<br/>':' - '})|replace({'<br>':' - '})|striptags }}</option>
                    {% endfor %}
                </select>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}