{% if isAdvSearch|default(false) %}
    {% for fieldName, filter in filters.StatData %}
        {% if filter.values|length %}
            {% if fieldName == 'value' %}
                <li>
                    <a class="text-center">{{ 'Value Min'|trans }}</a>
                    <input data-view="stat" type="text" name="valueMin" id="value-min-stat" class="form-control value-min"/>
                </li>
                <li>
                    <a class="text-center">{{ 'Value Max'|trans }}</a>
                    <input data-view="stat" type="text" name="valueMax" id="value-max-stat" class="form-control value-max"/>
                </li>

            {% else %}
            <li>
                <a class="text-center">{{ fieldName|trans }}</a>
                <select {% if fieldName == 'statType' %}title="{{ 'Choose'|trans }}" class="form-control bs-select" multiple{% else %}class="form-control select2me"{% endif %} data-view="stat" data-view="education" id="{{ 'StatData-' ~ fieldName }}" data-live-search="true" name="{{ fieldName }}">
                {% if fieldName != 'statType' %}<option value="">{{ 'Choose'|trans }}</option>{% endif %}
                    {% for value in filter.values %}
                        <option value="{{ value[fieldName] }}">{{ value[fieldName] }}</option>
                    {% endfor %}
                </select>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
<div id="stat" class="row hide">
    <div class="col-md-12">
        {% for fieldName, filter in filters.StatData %}
            {% if filter.values|length %}
                <div class="col-md-4 form-group">
                    <label class="control-label">{{ fieldName|trans }}</label>
                    <select data-view="stat" id="{{ 'StatData-' ~ fieldName }}" class="form-control selectpicker" data-live-search="true" name="{{ fieldName }}">
                        <option value="">{{ 'Choose'|trans }}</option>
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}