{% if isAdvSearch|default(false) %}
    {% for fieldName, filter in filters.StatData %}
        {% if filter.values|length %}
            {% if fieldName == 'value' %}
                {% if isBo|default(false) == true %}
                    <li class="filter">
                        <a class="text-center filter-name">{{ 'Value Min'|trans }}</a>
                        <input data-view="stat" type="text" name="valueMin" id="value-min-stat" class="form-control value-min"/>
                    </li>
                    <li class="filter">
                        <a class="text-center filter-name">{{ 'Value Max'|trans }}</a>
                        <input data-view="stat" type="text" name="valueMax" id="value-max-stat" class="form-control value-max"/>
                    </li>
                {% endif %}
            {% else %}
            <li class="filter">
                <a class="text-center filter-name">{{ fieldName|trans }}</a>
                {% if fieldName == 'statType' %}
                <select title="{{ 'Choose'|trans }}" class="form-control bs-select" multiple data-view="stat" data-view="education" id="{{ 'StatData-' ~ fieldName }}" data-live-search="true" name="{{ fieldName }}">
                    {% for productName, product in filter.values %}
                        <optgroup id="{{ productName|replace({' ':''}) }}" label="{{ productName|trans }}">
                        {% for value in product %}
                        <option value="{{ value['indicator'] }}">{{ value['statType']|trans|upper }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                {% else %}
                <select class="form-control select2me" data-view="stat" data-view="education" id="{{ 'StatData-' ~ fieldName }}" data-live-search="true" name="{{ fieldName }}">
                    <option value="">{{ 'Choose'|trans }}</option>
                    {% for value in filter.values %}
                        <option value="{{ value[fieldName] }}">{{ value[fieldName]|replace({'<br/>':' - '})|replace({'<br>':' - '})|striptags('<br>')|trans }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
<div id="stat" class="row hide">
    <div class="col-md-12">
        {% for fieldName, filter in filters.StatData %}
            {% if filter.values|length %}
                <div class="col-md-4 form-group">
                    <label class="control-label">{{ fieldName|trans }}</label>
                    <select data-view="stat" id="{{ 'StatData-' ~ fieldName }}" class="form-control selectpicker" data-live-search="true" name="{{ fieldName }}">
                        <option value="">{{ 'Choose'|trans }}</option>
                        {% for value in filter.values %}
                            <option value="{{ value[fieldName] }}">{{ value[fieldName] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}