{% block dataTable %}
<div class="portlet box purple">
    {% include 'OivBundle:backOffice/blocks:caption-panel.html.twig' %}
    <div class="portlet-body form">
        <div id="container_scroll"  class="table-scrollable" style="height: 700px;overflow-y: auto;overflow-x: auto;">
            <table id="datatable_orders" class="table table-striped table-bordered table-hover dataTable no-footer"
                    aria-describedby="datatable_orders_info" role="grid">
                {% if globalResult|length %}
                    <thead style="top: 0;position: sticky;">
                    <tr role="row" class="heading">
                        <th>Actions</th>
                        {% for fieldName, value in globalResult.0 %}
                            {% if fieldName != 'id' %}
                                <th data-sort="{% if fieldName in ['countryNameFr','countryNameEn','countryNameIt','countryNameEs'] %}countryCode{% else %}{{ fieldName }}{% endif %}" class="{% if fieldName == 'countryCode' %}sorting_asc{% else %}sorting{% endif %}" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1">
                                {{ fieldName|trans }}
                            </th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <button class="btn btn-sm yellow filter-submit margin-bottom">
                                    <i class="fa fa-search"></i> {{ 'Rechercher'|trans }}
                                </button>
                            </td>
                            {% for fieldName, value in globalResult.0 %}
                            {% if fieldName != 'id' %}
                            <td rowspan="1" colspan="1" style="background-color: #DDD;">
                                <a>
                                <input type="text" class="form-control form-filter input-sm" name="{% if fieldName in ['countryNameFr','countryNameEn','countryNameIt','countryNameEs'] %}countryCode{% else %}{{ fieldName }}{% endif %}">
                                    <i class="fa fa-remove"></i>
                                    <i class="icon-magnifier"></i>
                                </a>
                            </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in globalResult %}
                        <tr role="row" class="{{ loop.index0 % 2 ? 'odd':'even'}}">
                            <td>
                                <button data-dbtype="stat" class="btn-edit-data btn btn-sm yellow margin-bottom" value="{{ row['id'] }}">
                                    <i class="fa fa-edit"></i> Editer
                                </button>
                            </td>
                            {% for fieldName, value in row %}
                                {% if fieldName != 'id' %}
                                    <td>{{ value|raw }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% elseif headerTable|length>0 %}
                    <thead style="top: 0;position: sticky;">
                        <tr role="row" class="heading">
                            <th>Actions</th>
                            {% for fieldName, value in headerTable %}
                                {% if fieldName != 'id' %}
                                    <th data-sort="{% if fieldName in ['countryNameFr','countryNameEn','countryNameIt','countryNameEs'] %}countryCode{% else %}{{ fieldName }}{% endif %}" class="{% if fieldName == 'countryCode' %}sorting_asc{% else %}sorting{% endif %}" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1">
                                        {{ fieldName|trans }}
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <button class="btn btn-sm yellow filter-submit margin-bottom">
                                    <i class="fa fa-search"></i> {{ 'Rechercher'|trans }}
                                </button>
                            </td>
                            {% for fieldName, value in headerTable %}
                                {% if fieldName != 'id' %}
                                    <td rowspan="1" colspan="1" style="background-color: #DDD;">
                                        <a>
                                            <input type="text" class="form-control form-filter input-sm" name="{% if fieldName in ['countryNameFr','countryNameEn','countryNameIt','countryNameEs'] %}countryCode{% else %}{{ fieldName }}{% endif %}">
                                            <i class="fa fa-remove"></i>
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}